<ion-view view-title="activity">
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left"> 
    	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button> 
	</ion-nav-buttons> 
  </ion-nav-bar>
  <ion-content>

  	 <div class="center">
	    <img class="img-circle" src="img/weikun.jpg">
	</div>
	  	<h4 class="center">Weikun Liang</h4>
  

      <div ng-repeat="a in activityPending">
        <a class="item item-avatar item-icon-right" href="#">
	      <img src="img/weikun.jpg">
	      <h2>{{a.username}}</h2>
	      <p>{{a.item}}</p>
        <i class="icon ion-ios-clock-outline"></i>
	
	      </a>
	  </div> 
	  <div ng-repeat="a in activityComplete">
        <a class="item item-avatar item-icon-right" href="#">
	      <img src="img/weikun.jpg">
	      <h2>{{a.username}}</h2>
	      <p>{{a.item}}</p>
        <i class="icon ion-checkmark"></i>
	
	      </a>
	  </div> 


    </ion-list>
  </ion-content>
</ion-view>


