<ion-view view-title="favor">
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left"> 
    	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button> 
	</ion-nav-buttons> 
  </ion-nav-bar>
  <ion-content>
    <div id="list">
	    <a class="item item-avatar" href="#">
	      <img src="img/weikun.jpg">
	      <h2>{{favor.username}}</h2>
	      <p>{{favor.item}}</p>
		  <i class="icon ion-location"></i>
		  {{favor.location}}

	    </a>
    </div>

    <div class="button-bar">
	  <a class="button button-energized">Confirm</a>
	  <a class="button button-energized">Cancel</a>
	</div>  
  </ion-content>
</ion-view>
