<ion-view view-title="favr.club">
  <ion-nav-bar class="bar-energized">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left"> 
    	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button> 
	</ion-nav-buttons> 
  </ion-nav-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" id="Autocomplete" class="form-control" ng-autocomplete ng-model="result1" />

      </label>
    </div>
    <div id="list">

      <div ng-repeat="favor in favors" href="#/app/favors/{{favor.id}}">
        <a class="item item-avatar" href="#/app/favors/{{favor.id}}">
	      <img src="img/weikun.jpg">
	      <h2>{{favor.username}}</h2>
	      <p>{{favor.item}}<br>
  		  <i class="icon ion-location"></i>
  		  {{favor.location}}</p>
        <span class="badge badge-assertive">${{favor.price}}</span>
	
	      </a>
	     </div> 
    </div>

    </ion-list>
  </ion-content>
</ion-view>


