<ion-view view-title="settings">
 <ion-nav-bar class="bar-energized">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="left"> 
    	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button> 
	</ion-nav-buttons> 
  </ion-nav-bar>
  <ion-content>
    <div class="list">

      <div class="item item-divider">
    	Account
      </div>


	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-android-person"></i>
	    Edit Profile
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-social-usd"></i>
	    Banks and Cards
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-person-stalker"></i>
	    Friends
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-mic-a"></i>
	    Location
	    <span class="item-note">
	      0.1 mi
	    </span>
	  </a>

	  <div class="item item-divider">
    	Information & Support
      </div>

      <a class="item" href="#">
	    Help Center
	  </a>

	  <a class="item" href="#">
	    Send Feedback
	  </a>

	  <a class="item" href="#">
	    User Agreement
	  </a>

	  <a class="item" href="#">
	    Privacy Policy
	  </a>

	  <div class="item item-divider">
    	
      </div>

      <a class="item" href="#">
	    Log Out
	  </a>

	</div>
  </ion-content>
</ion-view>
