<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <body ng-app="starter">
    <ion-nav-view></ion-nav-view>
  </body>

  <script id="templates/mylongform.html" type="text/ng-template">
        <ion-modal-view class="product edit create">
            <ion-header-bar class="bar-energized">
            <button class="button button-icon" ng-click="closeModal()">
              <i class="icon ion-ios-arrow-back"></i>
            </button>
              <h1 class="title">Add Item</h1>
            </ion-header-bar>
            <ion-content has-bouncing="true">
            <form name="itemEdit" ng-submit="createItem(item)">
              <div class="list">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Item Description</span>
                    <input type="text" placeholder="Shirt" ng-model="item.description">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Price</span>
                    <input type="text" placeholder="10" ng-model="item.price">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Request Live</span>
                    <input type="text" placeholder="2 days" ng-model="item.live">
                  </label>
                </div>
                <button type="submit" class="button button-block button-positive">add</button>
            </form>
            </ion-content>
          
        </ion-modal-view>
  </script>
</html>
